---
import { FAQ } from "@/components/sections/FAQ";
import { CTA } from "@/components/ui/Email";
import CenteredLayout from "@/layouts/CenteredLayout.astro";
---

<CenteredLayout>
    <div
        class="w-full flex flex-col px-4 py-8 space-y-6 max-w-4xl mx-auto pb-48"
    >
        <CTA />

        <div class="flex items-center gap-4">
            <h1 class="md:text-7xl text-5xl font-bold">FAQ</h1>
        </div>
        <FAQ />
    </div>
</CenteredLayout>
