---
import CenteredLayout from "@/layouts/CenteredLayout.astro";
import { RelaxedP } from "@/components/ui/RelaxedP";
import { H3, H4 } from "@/components/ui/Subtitle";
import { A } from "@/components/ui/A";
import Prices from "@/components/Prices.astro";
---

<CenteredLayout>
    <div
        class="w-full flex flex-col px-4 py-8 space-y-6 max-w-4xl mx-auto pb-48"
    >
        <div class="flex items-center gap-4">
            <h1 class="md:text-7xl text-5xl font-bold">👋 Qui suis-je?</h1>
        </div>

        <div class="space-y-4"></div>
    </div>
</CenteredLayout>
